CONFIG_BLK_DEV_NVME=y
CONFIG_CHARGER_CROS_PCHG=y
CONFIG_CHROMEOS_ACPI=y
CONFIG_CHROME_PLATFORMS=y
CONFIG_CROS_EC=y
CONFIG_CROS_EC_CHARDEV=y
CONFIG_CROS_EC_I2C=y
CONFIG_CROS_EC_LPC=y
CONFIG_CROS_EC_PROTO=y
CONFIG_CROS_EC_SPI=y
CONFIG_CROS_EC_SYSFS=y
CONFIG_CROS_EC_TYPEC=y
CONFIG_CROS_TYPEC_SWITCH=y
CONFIG_CROS_USBPD_NOTIFY=y
CONFIG_GPIOLIB=y
CONFIG_I2C_CROS_EC_TUNNEL=y
CONFIG_MFD_CROS_EC_DEV=y
CONFIG_MMC=y
CONFIG_NVME_CORE=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SPI=y
CONFIG_TCG_TIS_I2C_CR50=y
CONFIG_TCG_TIS_SPI=y
CONFIG_TCG_TIS_SPI_CR50=y
CONFIG_TYPEC=y
