CONFIG_ARCH_QCOM=y
CONFIG_ARM_QCOM_CPUFREQ_HW=y
CONFIG_ARM_SMMU_QCOM=y
CONFIG_COMMON_CLK_QCOM=y
CONFIG_DRM_MSM=y
CONFIG_DRM_MSM_DP=y
CONFIG_DRM_MSM_DPU=y
CONFIG_DRM_MSM_DSI=y
CONFIG_DRM_MSM_MDSS=y
CONFIG_HWSPINLOCK=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_MMC_SDHCI_MSM=y
CONFIG_NVMEM_QCOM_QFPROM=y
CONFIG_NVMEM_QCOM_QFPROM=y
CONFIG_PHY_QCOM_QMP_COMBO=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_PWM_CROS_EC=y
CONFIG_QCOM_AOSS_QMP=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_QCOM_CLK_RPMH=y
CONFIG_QCOM_COMMAND_DB=y
CONFIG_QCOM_GENI_SE=y
CONFIG_QCOM_PDC=y
CONFIG_QCOM_PIL_INFO=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_RPMHPD=y
CONFIG_QCOM_SCM=y
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_SMP2P=y
CONFIG_QCOM_STATS=y
CONFIG_QCOM_TSENS=y
CONFIG_QCOM_WDT=y
CONFIG_REGULATOR_QCOM_RPMH
CONFIG_REGULATOR_QCOM_RPMH=y
CONFIG_RESET_QCOM_PDC=y
CONFIG_SC_CAMCC_7180=y
CONFIG_SC_VIDEOCC_7180=y
CONFIG_SERIAL_QCOM_GENI=y
CONFIG_SERIAL_QCOM_GENI_CONSOLE=y
CONFIG_SPI_QCOM_GENI=y
CONFIG_SPI_QCOM_QSPI=y
CONFIG_SPMI_MSM_PMIC_ARB=y
CONFIG_USB_DWC3_QCOM=y
CONFIG_USB_ONBOARD_HUB=y
