CONFIG_BINFMT_ELF=y
CONFIG_TTY=y
CONFIG_PRINTK=y
CONFIG_SMP=y
CONFIG_SUSPEND=y
CONFIG_NET=y
CONFIG_UNIX=y
CONFIG_BLOCK=y
CONFIG_BLK_DEV=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_VFAT_FS=y
CONFIG_SHMEM=y
CONFIG_DEVTMPFS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_PROC_FS=y
CONFIG_PROC_SYSCTL=y
CONFIG_DEBUG_FS=y
CONFIG_SECURITYFS=y
CONFIG_FUTEX=y
CONFIG_EPOLL=y
CONFIG_EVENTFD=y
CONFIG_TIMERFD=y
CONFIG_SIGNALFD=y
CONFIG_KEXEC_FILE=y
CONFIG_KEXEC_HANDOVER=y
CONFIG_RD_ZSTD=y
CONFIG_FW_LOADER=y
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y
CONFIG_KEYS=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_SHA3=y
CONFIG_CRYPTO_SHA512=y
CONFIG_LSM="integrity"
CONFIG_MULTIUSER=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_SECURITY=y
CONFIG_IMA=y
CONFIG_IMA_APPRAISE=y
CONFIG_IMA_APPRAISE_MODSIG=y
CONFIG_IMA_DEFAULT_HASH_SHA256=y
CONFIG_IMA_KEXEC=y
CONFIG_IMA_MEASURE_ASYMMETRIC_KEYS=y
CONFIG_INTEGRITY=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_INTEGRITY_SIGNATURE=y
# CONFIG_INTEGRITY_TRUSTED_KEYRING is not set
